In [24]:
import csv
import sqlite3

In [52]:
conn = sqlite3.connect('./db/transavia_demo.db')
cursor = conn.cursor()

In [26]:

cursor.execute("""
select * from flights_restricted""")

In [27]:
cursor.fetchall()

[(1, 'ON TIME', 'CDG', 'VCE', 100),
 (2, 'DELAYED', 'VCE', 'CDG', 200),
 (3, 'ON TIME', 'JFK', 'CDG', 150),
 (4, 'ON TIME', 'CDG', 'JFK', 230),
 (5, 'DELAYED', 'CDG', 'VCE', 130),
 (6, 'ON TIME', 'CDG', 'VCE', 200),
 (7, 'ON TIME', 'VCE', 'ORY', 150)]

# Create the flights tables

In [28]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS flights (
    flight_id INTEGER PRIMARY KEY,
    status TEXT,
    origin TEXT,
    destination TEXT,
    seats_available INTEGER,
    departure_date DATE,
    departure_time TIME
)
""")

# Add flights data from flights.csv

In [29]:
import os

In [30]:
CSV_DATA_PATH = "./csv_data/flights.csv"

In [31]:
def print_csv_data(file_path=CSV_DATA_PATH):
    with open(file_path, "r") as file:
        csv_reader = csv.reader(file)
        next(csv_reader, None)
    
        for row in csv_reader:
            print(row)

In [32]:
print_csv_data()

['1', 'ON TIME', 'CDG', 'VCE', '100', '2023-12-07', '08:00']
['2', 'DELAYED', 'VCE', 'CDG', '200', '2023-12-08', '09:00']
['3', 'ON TIME', 'JFK', 'CDG', '150', '2023-12-09', '10:00']
['4', 'ON TIME', 'CDG', 'JFK', '230', '2023-12-10', '10:30']
['5', 'DELAYED', 'CDG', 'VCE', '130', '2023-12-11', '12:00']
['6', 'ON TIME', 'CDG', 'VCE', '200', '2023-12-12', '14:00']
['7', 'ON TIME', 'VCE', 'ORY', '150', '2023-12-13', '19:30']

In [33]:
def write_data_to_db(csv_data_path=CSV_DATA_PATH, table_name="flights"):
    with open(csv_data_path, 'r') as file:
        csv_reader = csv.reader(file)
        next(csv_reader, None)
    
        for row in csv_reader:
            cursor.execute(
                f"""
                INSERT INTO {table_name} (flight_id, status, origin, destination, seats_available, departure_date, departure_time) VALUES (?, ?, ?, ?, ?, ?, ?)"""
                , row)
        
    conn.commit()

In [34]:
write_data_to_db()

In [35]:
print_csv_data()

['1', 'ON TIME', 'CDG', 'VCE', '100', '2023-12-07', '08:00']
['2', 'DELAYED', 'VCE', 'CDG', '200', '2023-12-08', '09:00']
['3', 'ON TIME', 'JFK', 'CDG', '150', '2023-12-09', '10:00']
['4', 'ON TIME', 'CDG', 'JFK', '230', '2023-12-10', '10:30']
['5', 'DELAYED', 'CDG', 'VCE', '130', '2023-12-11', '12:00']
['6', 'ON TIME', 'CDG', 'VCE', '200', '2023-12-12', '14:00']
['7', 'ON TIME', 'VCE', 'ORY', '150', '2023-12-13', '19:30']

---

In [36]:
origin = "CDG"
destination = "VCE"
date = "2023-12-09"

In [45]:
query = """
select * from flights
where origin = ?
and destination = ?
and departure_date >= ?
"""

In [47]:
cursor.execute(query, (origin, destination, date)).fetchall()

[(5, 'DELAYED', 'CDG', 'VCE', 130, '2023-12-11', '12:00'),
 (6, 'ON TIME', 'CDG', 'VCE', 200, '2023-12-12', '14:00')]

In [40]:
cursor.execute(f"""
        select * from flights""").fetchall()

[(1, 'ON TIME', 'CDG', 'VCE', 100, '2023-12-07', '08:00'),
 (2, 'DELAYED', 'VCE', 'CDG', 200, '2023-12-08', '09:00'),
 (3, 'ON TIME', 'JFK', 'CDG', 150, '2023-12-09', '10:00'),
 (4, 'ON TIME', 'CDG', 'JFK', 230, '2023-12-10', '10:30'),
 (5, 'DELAYED', 'CDG', 'VCE', 130, '2023-12-11', '12:00'),
 (6, 'ON TIME', 'CDG', 'VCE', 200, '2023-12-12', '14:00'),
 (7, 'ON TIME', 'VCE', 'ORY', 150, '2023-12-13', '19:30')]

In [42]:
cursor.execute(f"""
        select * from flights
        where flight_id = 1""").fetchall()

[(1, 'ON TIME', 'CDG', 'VCE', 100, '2023-12-07', '08:00')]

# Add new row

In [ ]:
row_data =